<ion-content class="page-select" [fullscreen]="true">
  <div class="entete">
    <h1>Choisissez un établissement</h1>
    <p>Vous avez accès à plusieurs établissements</p>
  </div>

  <ion-list class="liste" lines="none">
    @for (etablissement of etablissements(); track etablissement.id) {
      <ion-item button (click)="choisir(etablissement)" class="carte-etablissement">
        <ion-avatar slot="start">
          @if (etablissement.logo_path) {
            <img [src]="etablissement.logo_path" alt="" />
          } @else {
            <ion-icon name="business-outline"></ion-icon>
          }
        </ion-avatar>
        <ion-label>
          <h2>{{ etablissement.nom }}</h2>
          <p>{{ etablissement.ville }} · {{ etablissement.code }}</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    }
  </ion-list>
</ion-content>
